<!-- Cloudflare Web Analytics -->
<!-- <script
  if="!disabled"
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "6395d248b896457e92f038ccfba2fa42"}'
></script> -->
<!-- End Cloudflare Web Analytics -->

<!-- Simple Analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript
  ><img
    src="https://queue.simpleanalyticscdn.com/noscript.gif"
    alt=""
    referrerpolicy="no-referrer-when-downgrade"
/></noscript>
<!-- End Simple Analytics -->
