<img
  eval:class="`h-auto max-w-full border-4 border-gray-700 rounded-sm photograph-preview ${typeof customClasses !== 'undefined' ? customClasses : ''}`"
  eval:loading="index <= 5 ? 'eager' : 'lazy'"
  eval:fetchpriority="index <= 5 ? 'high' : 'auto'"
  eval:src="photo.thumb"
  eval:alt="photo.metadata?.alt ?? photo.name.split('.')[0]"
  eval:srcset="`/static/${photo.thumb} 916w`"
  sizes="(max-width: 767px) 640px, 458px"
  eval:width="photo.thumbWidth"
  eval:height="photo.thumbHeight"
  eval:data-index="photo.index"
/>
