<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photos | maximedubourg.com</title>
    <meta
      name="description"
      eval:content="Here are some of my own film photographs"
    />
    <meta name="view-transition" content="same-origin" />

    <link rel="stylesheet" href="tailwind.css" />
    <link rel="stylesheet" href="index.css" />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📷</text></svg>"
    />
  </head>

  <body class="mx-6 my-4">
    <site-header subtitle="'photos'"></site-header>

    <main class="container max-w-[66%] mx-auto md:mt-24">
      <section id="photographs" class="mb-10">
        <div class="grid grid-cols-1 gap-16 md:grid-cols-3">
          <div class="grid gap-16" for="column" of="[0,1,2]">
            <div
              class="my-auto bg-white border-4 border-gray-700 rounded-sm"
              for="photo"
              of="photos"
              if="index % 3 === column"
            >
              <button
                eval:data-id="photo.name"
                eval:onclick="`viewTransitionIn(this, '/static${photo.path}')`"
              >
                <img
                  class="h-auto max-w-full photograph-preview"
                  eval:loading="index <= 5 ? 'eager' : 'lazy'"
                  eval:fetchpriority="index <= 5 ? 'high' : 'auto'"
                  eval:src="photo.thumb"
                  eval:alt="photo.metadata.alt ?? photo.name.split('.')[0]"
                  eval:srcset="`/static/${photo.thumb} 916w`"
                  sizes="(max-width: 767px) 640px, 458px"
                  eval:width="photo.thumbWidth"
                  eval:height="photo.thumbHeight"
                />
              </button>

              <dialog
                eval:id="photo.name.split('.')[0]"
                autofocus
                onclick="event.target === this && viewTransitionOut(this)"
              >
                <div class="bg-white border-4 border-gray-700 rounded-sm">
                  <img
                    eval:style="`max-height: 85vh; max-width: min(78vw ,${photo.originalWidth * 85 / photo.originalHeight}vh)`"
                    loading="lazy"
                    eval:alt="photo.name.split('.')[0]"
                    eval:src="photo.path"
                    eval:srcset="`/static/${photo.path} ${photo.originalWidth}w`"
                    eval:width="photo.originalWidth"
                    eval:height="photo.originalHeight"
                  />
                </div>
              </dialog>
            </div>
          </div>
        </div>
      </section>
    </main>

    <analytics disabled="mode === 'development'"></analytics>

    <script type="application/javascript">
      function syncZoomedSearchParam(name) {
        const params = new URLSearchParams(window.location.search);

        if (name === undefined) {
          params.delete("z");
        } else {
          params.set("z", name);
        }

        history.replaceState(
          {},
          "",
          [location.pathname, params.toString()].filter(Boolean).join("?")
        );
      }

      function viewTransitionIn(button, heavyImagePath) {
        const thumbnail = button.children[0];
        const dialog = button.nextElementSibling;
        const dialogImage = dialog.children[0].children[0];

        syncZoomedSearchParam(thumbnail.getAttribute("alt"));

        if ("startViewTransition" in document === false) {
          dialog.showModal();
          return;
        }

        thumbnail.style.viewTransitionName = "emphasized";

        document.startViewTransition(() => {
          thumbnail.style.viewTransitionName = "";
          dialog.style.viewTransitionName = "emphasized";

          dialog.showModal();
        });
      }

      function viewTransitionOut(dialog) {
        const thumbnail = dialog.previousElementSibling.children[0];

        syncZoomedSearchParam(undefined);

        if ("startViewTransition" in document === false) {
          dialog.close();
          return;
        }

        const transition = document.startViewTransition(() => {
          dialog.style.viewTransitionName = "";
          thumbnail.style.viewTransitionName = "emphasized";

          dialog.close();
        });

        transition.finished.then(() => {
          thumbnail.style.viewTransitionName = "";
        });
      }

      const initialZoomed = new URLSearchParams(window.location.search).get(
        "z"
      );

      if (initialZoomed) {
        document.getElementById(initialZoomed)?.showModal();
      }
    </script>
  </body>
</html>
