<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photos | maximedubourg.com</title>
    <meta
      name="description"
      eval:content="`Some of my own film photos I like, without specific topics`"
    />
    <meta name="view-transition" content="same-origin" />

    <link
      for="photo"
      of="photos"
      rel="preload"
      as="image"
      eval:href="photo.path"
      fetchpriority="low"
      media="screen and (min-width: 768px)"
    />

    <link rel="stylesheet" href="tailwind.css" />
    <link rel="stylesheet" href="index.css" />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📷</text></svg>"
    />
  </head>

  <body class="mx-6 my-4 md:mb-96">
    <site-header subtitle="'photos'"></site-header>

    <main class="container mx-auto md:mt-24">
      <section id="photographs" class="mb-10">
        <div class="grid grid-cols-1 gap-16 md:hidden">
          <div class="relative my-auto bg-white" for="photo" of="photos">
            <a if="photo.isAlbum" eval:href="photo.albumPath">
              <photograph-img customClasses="`rounded-br-none`" photo="photo" />

              <svg
                class="absolute z-20 w-6 h-6 right-4 top-4"
                xmlns="http://www.w3.org/2000/svg"
                aria-label="Series of photos"
                fill="white"
                role="img"
                viewBox="0 0 48 48"
              >
                <title>Series of photos</title>
                <path
                  d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"
                ></path>
              </svg>

              <p
                class="absolute right-0 p-1 text-xs font-semibold text-gray-200 rounded-b top-full bg-slate-700"
              >
                SERIES
              </p>
            </a>

            <div if="!photo.isAlbum" class="flex flex-col gap-y-8">
              <a
                if="index === 0"
                class="text-sm text-gray-600 border-b back-to-list-link w-fit"
                href="/photographs.html"
                >←&nbsp;Back to list</a
              >

              <photograph-img if="!photo.isAlbum" photo="photo" />

              <a
                if="index === photos.length - 1"
                class="ml-auto text-sm text-gray-600 border-b w-fit"
                href="#header"
                >↑&nbsp;Back to the top</a
              >
            </div>
          </div>
        </div>

        <div class="hidden grid-cols-2 gap-40 lg:gap-60 xl:gap-80 md:grid">
          <div class="grid gap-40 lg:gap-60 xl:gap-80" for="column" of="[0,1]">
            <div
              eval:class="{ 'relative my-auto bg-white': true, 'translate-x-8 lg:translate-x-12 xl:translate-x-20': column === 0, '-translate-x-8 lg:-translate-x-12 xl:-translate-x-20 translate-y-40 lg:translate-y-60 xl:translate-y-80': column === 1 }"
              for="photo"
              of="photos"
              if="index % 2 === column"
            >
              <a if="photo.isAlbum" eval:href="photo.albumPath">
                <photograph-img
                  customClasses="`peer relative z-10 rounded-br-none`"
                  photo="photo"
                />

                <svg
                  class="absolute z-20 w-6 h-6 right-4 top-4"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-label="Series of photos"
                  fill="white"
                  role="img"
                  viewBox="0 0 48 48"
                >
                  <title>Series of photos</title>
                  <path
                    d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"
                  ></path>
                </svg>

                <p
                  class="absolute right-0 px-2 py-1 text-xs font-semibold text-gray-200 rounded-b-sm top-full bg-slate-700"
                >
                  SERIES
                </p>
              </a>

              <div if="!photo.isAlbum" class="flex flex-col gap-y-16">
                <a
                  if="index === 0"
                  class="text-sm text-gray-600 transition-colors border-b back-to-list-link w-fit hover:text-gray-900"
                  href="/photographs.html"
                  >←&nbsp;Back to list</a
                >

                <button
                  eval:id="photo.name.split('.')[0]"
                  eval:data-id="photo.name"
                  eval:onclick="`viewTransitionIn(this)`"
                >
                  <photograph-img photo="photo" />
                </button>

                <a
                  if="column === 1 && (photos.length - index) <= 2"
                  class="mt-8 ml-auto text-sm text-gray-600 border-b w-fit"
                  href="#header"
                  >↑&nbsp;Back to the top</a
                >
              </div>
            </div>

            <dialog
              autofocus
              id="emphasized-dialog"
              style="view-transition-name: emphasized"
              class="focus:outline-none"
              onclick="event.target === this && viewTransitionOut(this)"
            >
              <div class="p-4 bg-white">
                <img
                  for="photo"
                  of="photos"
                  class="hidden"
                  eval:style="`max-height: 85vh; max-width: min(78vw ,${photo.originalWidth * 85 / photo.originalHeight}vh)`"
                  loading="lazy"
                  eval:alt="photo.name.split('.')[0]"
                  eval:src="photo.path"
                  eval:srcset="`/static/${photo.path} ${photo.originalWidth}w`"
                  eval:width="photo.originalWidth"
                  eval:height="photo.originalHeight"
                />
              </div>
            </dialog>
          </div>
        </div>
      </section>
    </main>

    <analytics disabled="mode === 'development'"></analytics>

    <script type="application/javascript">
      const backToListLink = document.querySelectorAll(".back-to-list-link");
      for (const link of backToListLink) {
        link.setAttribute("href", "javascript:history.back()");
      }

      const dialog = document.getElementById("emphasized-dialog");

      let zoomedAbortController;
      function bindZoomedEventListeners() {
        zoomedAbortController = new AbortController();

        document.addEventListener(
          "keydown",
          (event) => {
            if (event.key === "ArrowRight") {
              const currentDialogImg = dialog.querySelector("img:not(.hidden)");
              const nextDialogImg = currentDialogImg.nextElementSibling;

              if (nextDialogImg) {
                currentDialogImg.classList.add("hidden");
                nextDialogImg.classList.remove("hidden");

                syncZoomedSearchParam(nextDialogImg.getAttribute("alt"));
              }
            } else if (event.key === "ArrowLeft") {
              const currentDialogImg = dialog.querySelector("img:not(.hidden)");
              const previousDialogImg = currentDialogImg.previousElementSibling;

              if (previousDialogImg) {
                currentDialogImg.classList.add("hidden");
                previousDialogImg.classList.remove("hidden");

                syncZoomedSearchParam(previousDialogImg.getAttribute("alt"));
              }
            } else if (event.key === "Escape") {
              zoomedAbortController.abort();
              dialog
                .querySelectorAll("img")
                .forEach((img) => img.classList.add("hidden"));
              syncZoomedSearchParam(undefined);
            }
          },
          { signal: zoomedAbortController.signal }
        );
      }

      function syncZoomedSearchParam(name) {
        const params = new URLSearchParams(window.location.search);

        if (name === undefined) {
          params.delete("z");
        } else {
          params.set("z", name);
        }

        history.replaceState(
          {},
          "",
          [location.pathname, params.toString()].filter(Boolean).join("?")
        );
      }

      function viewTransitionIn(button) {
        const buttonId = button.dataset.id;
        const thumbnail = button.querySelector("img");
        const dialogImage = dialog.querySelector(`img[src$="${buttonId}"]`);

        syncZoomedSearchParam(thumbnail.getAttribute("alt"));

        if ("startViewTransition" in document === false) {
          dialogImage.classList.remove("hidden");

          zoomedAbortController?.abort();
          bindZoomedEventListeners();
          dialog.showModal();
          return;
        }

        thumbnail.style.viewTransitionName = "emphasized";

        document.startViewTransition(() => {
          thumbnail.style.viewTransitionName = "";
          dialogImage.classList.remove("hidden");

          zoomedAbortController?.abort();
          bindZoomedEventListeners();
          dialog.showModal();
        });
      }

      function viewTransitionOut() {
        const currentDialogImg = dialog.querySelector("img:not(.hidden)");
        const thumbnail = document.querySelector(
          `.photograph-preview[alt="${currentDialogImg.getAttribute("alt")}"]`
        );

        zoomedAbortController?.abort();
        syncZoomedSearchParam(undefined);

        if ("startViewTransition" in document === false) {
          dialog.close();
          dialog
            .querySelectorAll("img")
            .forEach((img) => img.classList.add("hidden"));
          return;
        }

        const transition = document.startViewTransition(() => {
          thumbnail.style.viewTransitionName = "emphasized";

          dialog.close();
        });

        transition.finished.then(() => {
          thumbnail.style.viewTransitionName = "";
          dialog
            .querySelectorAll("img")
            .forEach((img) => img.classList.add("hidden"));
        });
      }

      const initialZoomed = new URLSearchParams(window.location.search).get(
        "z"
      );

      if (initialZoomed) {
        document.getElementById(initialZoomed)?.click();
        bindZoomedEventListeners();
      }
    </script>
  </body>
</html>
