<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ post.metadata.status === 'draft' ? '[DRAFT] ' : '' }}{{
      post.metadata.title }} - maximedubourg.com
    </title>
    <meta name="description" eval:content="post.metadata.description" />

    <post-css></post-css>
    <link
      if="!!post.metadata.canonical"
      rel="canonical"
      eval:href="post.metadata.canonical"
    />
    <link rel="stylesheet" href="tailwind.css" />
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/tomorrow-night-blue.min.css"
    />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📇</text></svg>"
    />

    <script src="//unpkg.com/@highlightjs/cdn-assets@11.4.0/highlight.min.js"></script>

    <script>
      window.onload = () => {
        document.querySelectorAll("pre code").forEach((block) => {
          hljs.highlightBlock(block);
        });
      };
    </script>
  </head>

  <body class="mx-6 my-4">
    <site-header></site-header>

    <main class="mx-auto mb-20 small-container markdown-body">
      {{ post.content }}
    </main>

    <analytics disabled="mode === 'development'"></analytics>
  </body>
</html>
